[submodule "src/pcl_detection2"]
	path = src/pcl_detection2
	url = https://github.com/RgerColdline/pcl_detection2.git
[submodule "src/uav_navigation"]
	path = src/uav_navigation
	url = https://github.com/RgerColdline/uav_navigation_rc26.git
