[submodule "src/pcl_detection2"]
	path = src/pcl_detection2
	url = https://github.com/RgerColdline/pcl_detection2.git
[submodule "src/uav_navigation"]
	path = src/uav_navigation
	url = https://github.com/RgerColdline/uav_navigation_rc26.git
[submodule "src/raicom_vision_laser"]
	path = src/raicom_vision_laser
	url = https://gitee.com/dunantedage1/raicom.git
[submodule "src/ring_yolo"]
	path = src/ring_yolo
	url = https://github.com/RgerColdline/ring_yolo.git
